/.vs
/Debug
/SolveShortCharacteristics/Debug
/SolveShortCharacteristics/Release
/SolveShortCharacteristics/SolveShortCharacteristics.vcxproj.filters
/SolveShortCharacteristics/SolveShortCharacteristics.vcxproj.user